BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IndentCaseLabels: false
InsertNewlineAtEOF: true

IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

PointerAlignment: Left

AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLines
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes

BreakConstructorInitializers: AfterColon

# preprocessor indent
IndentPPDirectives: AfterHash